@import 'sanitize.css';
@import 'sanitize.css/forms.css';
@import 'sanitize.css/assets.css';
@import 'sanitize.css/typography.css';
@import 'sanitize.css/reduce-motion.css';

:root {
	--color-primary: #dc2626;
	--color-secondary: #0d9488;
	--color-neutral-100: #f1f5f9;
	--color-neutral-900: #0f172a;
	
	--text-color: var(--color-neutral-900);
	--background-color: var(--color-neutral-100);
}

@media (prefers-color-scheme: dark) {
  :root {
		--color-primary: #ef4444;
		--color-secondary: #14b8a6;

		--text-color: var(--color-neutral-100);
		--background-color: var(--color-neutral-900);
	}
}

body {
	color: var(--text-color);
	background-color: var(--background-color);
	min-height: 100vh;
}
